@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.on-div {
  top: 50%;
  left: 50%;
  z-index: 2;
}
.bg-image {
  background-image: url("assets/new_blxckcicada.png");
  filter: blur(5px);
  -webkit-filter: blur(40px);
  background-repeat: no-repeat; /* Ensure it repeats */
  background-size: cover; /* Prevents it from stretching */
  background-position: center;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
}
