@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.on-div {
  top: 50%;
  left: 50%;
  z-index: 2;
}
.bg-image {
  background-image: url("assets/ovawatch.png");
  filter: blur(12px);
  -webkit-filter: blur(20px);
  height: 100%;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
